                        <tr>
                          <td>
                            <div id='VG_ID<!--$vg_id-->'>
                              <SCRIPT>vg_ids.push(parseInt(0<!--$vg_id-->));</SCRIPT>
                              <div id='wrap<!--$vg_id-->' style='background: rgba(128,192,128, 0.2); border-radius: 5px; border: 1px solid #7e7e7e; padding: 10px'>
                                <table class='formtable' width='100%' style='padding-left:5px;'>
                                  <tr>
                                    <td colspan='5' style='text-align:left;'>
                                      <table style='width:100%;'>
                                        <tr>
                                          <td>
                                            <nobr><b><!--$TXT_VG_ID--><!--$vg_id--></b></nobr>
                                          </td>
                                          <td style='width:100%; text-align:right;'>
                                            <div id='call_result<!--$vg_id-->'></div>
                                          </td>
                                          <td colspan='2' style='text-align:right; '>
                                            <a onclick='play(<!--$vg_id-->)' href='javascript:void(0);'><img src='/plugins/<!--$psubfolder-->/ico_call_now.png' width='48' height='48'></a>
                                          </td>
                                          <td style='text-align:left; '>
                                            <a onclick='delete_vg(<!--$vg_id-->)' href='javascript:void(0);'><img src='/plugins/<!--$psubfolder-->/ico_delete.png' width='48' height='48'></a>
                                          </td>
                                        </tr>
                                      </table>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td style='text-align:right;'>
                                      <nobr><!--$TXT_P2W_lang--></nobr>
                                    </td>
                                    <td class="t2s_on" colspan='4'>
                                      <div class='form-item'><input id='P2W_lang<!--$vg_id-->' type='text' style='width:430px;' spellcheck='false' autocomplete='off'><label for='P2W_lang<!--$vg_id-->' style='display:none;'></label></div>
                                      <div class='form-item' style='display:none;'><input type='text' id='P2W_lang<!--$vg_id-->_code' name='P2W_lang<!--$vg_id-->' data-countrycodeinput='1' readonly='readonly' placeholder='de' /><label for='P2W_lang<!--$vg_id-->_code'>de</label></div>
                                    </td>
                                  </tr>
                                  <tr><td style='text-align:right; '><nobr><!--$TXT_P2W_Text-->                      </nobr></td><td colspan='4' width='100%'><INPUT type='text' name='P2W_Text<!--$vg_id-->'                       id='P2W_Text<!--$vg_id-->'                        value='<!--$P2W_Text-->'                  </td></tr>
                                  <tr>
                                    <td>                                                                           </td>
                                    <td style='width:100px;'><nobr><!--$TXT_SIPCMD_CALLING_USER_NAME-->     </nobr></td>
                                    <td style='width:50px;' ><nobr><!--$TXT_SIPCMD_CALLING_USER_NUMBER-->   </nobr></td>
                                    <td style='width:150px;'><nobr><!--$TXT_SIPCMD_CALLING_USER_PASSWORD--> </nobr></td>
                                    <td style='width:150px;'><nobr><!--$TXT_SIPCMD_SIP_PROXY-->             </nobr></td>
                                  </tr>
                                  <tr>
                                    <td style='text-align:right; '><nobr><!--$TXT_SIPCMD_CALLING_USER_ROW-->      </nobr></td>
                                    <td style='width:100px;'><INPUT spellcheck='false' type='text' name='SIPCMD_CALLING_USER_NAME<!--$vg_id-->'       id='SIPCMD_CALLING_USER_NAME<!--$vg_id-->'        value='<!--$SIPCMD_CALLING_USER_NAME-->'      </td>
                                    <td style='width:50px;' ><INPUT spellcheck='false' type='text' name='SIPCMD_CALLING_USER_NUMBER<!--$vg_id-->'     id='SIPCMD_CALLING_USER_NUMBER<!--$vg_id-->'      value='<!--$SIPCMD_CALLING_USER_NUMBER-->'    </td>
                                    <td style='width:150px;'><INPUT spellcheck='false' type='text' name='SIPCMD_CALLING_USER_PASSWORD<!--$vg_id-->'   id='SIPCMD_CALLING_USER_PASSWORD<!--$vg_id-->'    value='<!--$SIPCMD_CALLING_USER_PASSWORD-->'  </td>
                                    <td style='width:100px;'><INPUT spellcheck='false' type='text' name='SIPCMD_SIP_PROXY<!--$vg_id-->'               id='SIPCMD_SIP_PROXY<!--$vg_id-->'                value='<!--$SIPCMD_SIP_PROXY-->'              </td>
                                  </tr>
                                  <tr><td style='text-align:right; '><nobr><!--$TXT_SIPCMD_CALLED_USER-->            </nobr></td><td colspan='4' width='100%'><INPUT spellcheck='false' type='text' name='SIPCMD_CALLED_USER<!--$vg_id-->'           id='SIPCMD_CALLED_USER<!--$vg_id-->'              value='<!--$SIPCMD_CALLED_USER-->'            </td></tr>
                                  <tr>
                                		<td style='text-align:right; padding-top:30;'><nobr><!--$TXT_SIPCMD_TIMES--></nobr>
                                    <td colspan='4'>
                                  		<table>
			                                	<tr>
			                                    <td style='width:200px;'><nobr> <!--$TXT_SIPCMD_CALL_PAUSE_BEFORE_GUIDE-->       &nbsp;</nobr></td>
			                                    <td style='width:200px;'><nobr>&nbsp;<!--$TXT_SIPCMD_CALL_PAUSE_AFTER_GUIDE-->   &nbsp;</nobr></td>
			                                    <td style='width:200px;'><nobr>&nbsp;<!--$TXT_SIPCMD_CALL_TIMEOUT-->                   </nobr></td>
			                                    <td style='width:100%;'>                                                                      </td>
																				</tr>
			                                	<tr>
			                                    <td><INPUT spellcheck='false' type='text' name='SIPCMD_CALL_PAUSE_BEFORE_GUIDE<!--$vg_id-->' id='SIPCMD_CALL_PAUSE_BEFORE_GUIDE<!--$vg_id-->'  value='<!--$SIPCMD_CALL_PAUSE_BEFORE_GUIDE-->'</td>
			                                    <td><INPUT spellcheck='false' type='text' name='SIPCMD_CALL_PAUSE_AFTER_GUIDE<!--$vg_id-->'  id='SIPCMD_CALL_PAUSE_AFTER_GUIDE<!--$vg_id-->'   value='<!--$SIPCMD_CALL_PAUSE_AFTER_GUIDE-->' </td>
			                                    <td><INPUT spellcheck='false' type='text' name='SIPCMD_CALL_TIMEOUT<!--$vg_id-->'            id='SIPCMD_CALL_TIMEOUT<!--$vg_id-->'             value='<!--$SIPCMD_CALL_TIMEOUT-->'           </td>
			                                    <td></td>
																				</tr>
																			</table>
                                    </td>
                                  </tr>
                                  <tr>
                                  	<td style='text-align:right; '><nobr><!--$TXT_SIPCMD_CALL_RESULT_VI-->         </nobr></td><td colspan='2' width='100%'><INPUT spellcheck='false' type='text' name='SIPCMD_CALL_RESULT_VI<!--$vg_id-->'        id='SIPCMD_CALL_RESULT_VI<!--$vg_id-->'           value='<!--$SIPCMD_CALL_RESULT_VI-->'         </td>
                                  	<td style='text-align:right; '><nobr><!--$TXT_SIPCMD_CONFIRMATION_DIGIT-->     </nobr></td><td><INPUT spellcheck='false' maxlength='1' type='text' name='SIPCMD_CONFIRMATION_DIGIT<!--$vg_id-->'          id='SIPCMD_CONFIRMATION_DIGIT<!--$vg_id-->'           value='<!--$SIPCMD_CONFIRMATION_DIGIT-->'></td>
                                  </tr>  
                                  <tr>
                                  	<td style='text-align:right; '><nobr><!--$TXT_SIPCMD_MSINFO-->         </nobr></td><td colspan='2' width='100%'><INPUT spellcheck='false' type='text' name='SIPCMD_MSINFO<!--$vg_id-->'        id='SIPCMD_MSINFO<!--$vg_id-->'           value='<!--$SIPCMD_MSINFO-->'         </td><td colspan='2'><small><!--$TXT_HLP_SIPCMD_READ_MS_STATE--></small></td>
                                  </tr>
                                 </table>
                                <script>
                                  $('#P2W_lang<!--$vg_id-->').countrySelect({ onlyCountries: ['de', 'us', 'gb', 'es', 'fr', 'it'], preferredCountries: '' });
                                  $('#P2W_lang<!--$vg_id-->').countrySelect('selectCountry', '<!--$P2W_lang-->');
                                  $('#P2W_lang<!--$vg_id-->').on('keypress keyup paste input', function(event) { event.preventDefault(); });
                                </script>
                              </div>
                            </div>
                            <br/>
                          </td>
                        </tr>
